.date-container {
    display: flex;
    flex-direction: column;
    width: 80px;
    height: 80px;
    border: 1px solid white;
    background-color: #282c34;
    color: white;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
}

.date-month {
    font-size: 14px;
    font-weight: bold;
}

.date-day {
    font-size: 24px;
    font-weight: bold;
}

.date-year {
    font-size: 14px;
}