.new-recommendation-form {
    background-color: bisque;
    padding: 8px;
    margin: 16px auto;
    width: 400px;
    max-width: 90%;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 25);
}

.new-recommendation-controls {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 8px;
    text-align: left;
}

.new-recommendation-controls label {
    font-weight: bold;
    margin-bottom: 4px;
    display: block;
}

.new-recommendation-controls input {
    font: inherit;
    padding: 4px;
    border-radius: 6px;
    border: 1px solid grey;
    width: 160px;
    max-width: 100%;
}

.new-recommendation-actions {
    text-align: right;
}